
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3E6259;
  padding: 5px 30px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  margin-bottom: -150px;
  margin-top: 30px;
}
.navbar-logo h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
}


.navbar {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}


.navbar li a {
  text-decoration: none;
  color:  #d0d5d3;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}


.navbar li a:hover {
  color: #222;
}


.navbar li a.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color:goldenrod;
  border-radius: 2px;
}


.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 30px;
  background-color:#3E6259;
  margin-top: 150px;
}

.header-content {
  flex: 1;
  padding-right: 50px;
}

.header-content h1 {
  font-size: 40px;
  font-weight: 700;
  color:white;
  margin-bottom: 20px;
}

.header-content p {
  color:#cecece;
  font-size:15px;
  line-height: 1.6;
  max-width: 500px;
}
.header-content .shop-button{
    background: goldenrod;
    border-radius: 20px;
    color: #222;
    font-weight: 500;
    font-size: 16px;
}
.header-content button{
    background: transparent;
    border: 1px solid #cecece;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
}
.header-section-img {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-section-img img {
  width: 100%;
  border-radius: 20px;
 
}
