.header-section{
    margin-top: -20px;
    background-image: url(../../Components/Assets/banner_1.webp);
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
}
.header-section h1{
    margin-left: -600px;
    padding-top: 120px;
    font-family: 'Times New Roman', Times, serif;
}
.header-section p{
    margin-left: -520px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-section button{
    background-color:#c59d5f;
    color: white;
    border: none;
    padding: 10px;
    margin-left: -760px;
    border-radius: 18px;
    cursor: pointer;
}