* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.new-collections {
    margin-top: 70px;
    color: orangered;   
    text-align: center;
}

.collections {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.collections {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
}

.item {
    text-align: center;        
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 10px;
    margin-left: -100px; 
    padding-left: 100PX;
}

.item img {
    width: 90%;              
    max-width: 200px;         
    height: 250px;            
    object-fit: cover;        
    border-radius: 12px;
}


.collections p {
    margin: 10px 0;
    font-size: 14px;
}
