.testimonial-container {
    margin-top: 50px;
}

.testimonial-container h4 {
    text-align: center;
    color: darkcyan;
    font-size: 19px;
}

.testimonial-container p {
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    margin-top: -10px;
}

.testimonial {
    margin-left: 12px;
    margin-right: 20px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-bottom: 15px;

}

.testimonial:hover {
    background-color: darkcyan; 
    color: white; 
  
}


.testimonial:hover h4,
.testimonial:hover h6,
.testimonial:hover p {
    color: white;
}

.testimonial img {
    width: 20%;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
}



.testimonial h4 {
    margin-top: -50px;
    margin-left: 30px;
    font-size: 15px;
    color: black;
}

.testimonial h6 {
    margin-left: 80px;
    margin-top: -15px;
    color: darkcyan;
}

.testimonial-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.testimonial-main .testimonial .testi-p p {
    font-size: 13px;
    margin-left: 10px;
    margin-right: 20px;
    font-weight: 200;
}
