.contact-header{
    padding: 70px;
 background-color: #3E6259;
 margin-top: -20px;
 font-size: 20px;

}

.contact-header h2 {
  font-size: 36px;
  letter-spacing: 1px;
  
}

.contact-container {
  display: flex;
  justify-content: center;
  padding: 30px 20px;
  background: #f7f7f7;
}

.contact-main {
  width: 80%;
  max-width: 900px;
  display: flex;
  gap: 40px;
  height: 570px;
  flex-wrap: wrap;
}

.contact-form {
  flex: 1;
  background: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.contact-form h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #444;
}

.input-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 6px;
  font-weight: 500;
  color: #444;
}


.input-group input,
.input-group textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  background: #fff;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #3E6259;
}

.contact-btn {
  width: 100%;
  padding: 12px;
  background: #3E6259;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.contact-btn:hover {
  background:#3E6259;
}


.contact-info {
  flex: 0.6;
  background: #fff;
  color: #444;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  height: fit-content;
}

.contact-info h3 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

.contact-info p {
  margin: 12px 0;
  font-size: 16px;
}

.contact-info i {
  margin-right: 10px;
  color:#3E6259;
}

