.portfolio{
    margin-top: 120px;
}
.portfolio h1{
    font-size: 45px;
}
.portfolio p{
    text-align: justify;
    max-width: 600px;
    margin-left: 100px;
   
}
.portfolio-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-left: 80px;
    margin-right: 90px;
    margin-top: 30px;
}
.portfolio-grid img{
    width: 100%;
}
.portfolio button{
    background-color: white;
    color: black;
    font-size: 20px;
    margin-top: 60px;
    cursor: pointer;
  
}