.node-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    gap: 32px;
}
.node-container li{
    list-style-type: none;
    font-size: 20px;
}
.header-section{
    background-image: url(./first_img.jpg);
    width: 100%;
    height: 83vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 42px;
}