.middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 60px;
}

.middle {
  position: relative;
  width: 23%;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.middle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.5s ease;
}

.middle:hover img {
  transform: scale(1.1);
  filter: brightness(70%);
}

.middle-content {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  border-radius: 8px;
}

.middle-content h2 {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 200;
}
