
.logo-container{
    margin-top: 10px;
    margin-left: 45px;
}
.logo-container h1{
    font-size: 21px;
   
}
.logo-container p{
    
    font-size: 12px;
}
.social-icons{
    margin-left: 600px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.social-icons .icon{
    color: darkcyan;
    background-color: lightgray;
    border-radius: 50%;
    padding: 5px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    background-color: rgb(214, 214, 214);
    margin-top: 30px;
}
.navbar a{
    text-decoration: none;
    color: darkcyan;
}
.navbar button{
    background-color: darkcyan;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 20px 0px 0px 0px;
}