.navbar-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  margin-top: 90px;
}


.navbar-logo h1{
    font-size: 23px;
    color:#fff;
}

.navbar-logo span{
    font-size: 23px;
    color:lightseagreen;
}

.ul-main {
  list-style: none;
  display: flex;
  gap: 35px;
}

.ul-main li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  transition: 0.3s ease;
}

.ul-main li a:hover {
  color: lightseagreen;
}


.active {
  color:lightseagreen !important;
  position: relative;
}

.active::after {
  content: "";
  width: 60%;
  height: 3px;
  background:lightseagreen;
  position: absolute;
  bottom: -5px;
  left: 0;
  border-radius: 10px;
}

