

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
margin-top: -70px;
  padding: 1px 40px;

}

.navbar-container img {
  width: 140px;
  height: auto;
  cursor: pointer;
}

.navbar-ul ul {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
}

.navbar-ul a,
.navbar-ul .active {
  text-decoration: none;
  color: #333;
  font-size: 17px;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease;
}

.navbar-ul a:hover {
  color: #c59d5f;
}


