
.container {
    margin-top: 10px;
        margin-left: 250px;
  width: 100%;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 75vh;
  margin-top: 30px;
}

.form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.form-toggle button {
  width: 50%;
  padding: 10px;
  background-color: #f3f3f3;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px 10px 0 0;
}

.form-toggle .active {
  background-color:darkcyan;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-top: -20px;
}

.form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form button {
  padding: 10px;
  background-color:darkcyan;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form a {
  color: darkcyan;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: right;
  font-size: 15px;
}

.form p {
  text-align: center;
  color:darkcyan;
  font-size: 15px;
}