.material-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9f8;
  padding: 80px 90px;
  flex-wrap: wrap;
}

.material-text {
  flex: 1;
  max-width: 200px;
  margin-left: -30px;
}

.material-text h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #222;
}

.material-text p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 24px;
  font-size: 12px;
}

.material-text button {
  background-color: #444;
  color: #fff;
  font-weight: 700;
  border: none;
  padding: 10px 28px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.material-text button:hover {
  background-color: #444;
}


.material-main {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 80px;
 
}

.material-card {
  text-align: center;
  margin-right: -52px;
}
.material-card:hover {
  background-color: #dce5e2;
 border-radius: 20%;
   transform: translateY(-5px);
}

.material-card img {
  width: 220px;
  height: auto;
  padding: 5px;
  transition: transform 0.3s ease;
}

.material-card img:hover {
  transform: translateY(-10px);
}

.material-card h4 {
  margin-top: 15px;
  font-size: 19px;
  color: #222;
  font-weight: 700;
}

.material-card p {
  font-weight: bold;
  color: #000;
  font-size: 19px;
  margin-top: -14px;
  font-weight: 500;
}


