.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size: 25px;
    font-weight: 400;
    margin-left: 30px;
}
.food-display-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-top: 30px;
    gap: 10px;
    row-gap: 30px;
}