.hero-section {
  width: 1200px;
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 80px;
  overflow: hidden;
  border-radius: 10px;
  margin-left: 60px;
  margin-top: 70px;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(0px); 
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: white;
  max-width: 1100px;
}

.service-top-text {
  font-size: 30px;
font-weight: 200;
  margin-top: 160px;
  margin-left: 500px;
  color: #fff;
}
.service-title{
    margin-left: 30px;
    margin-top: -40px;
    font-size: 45px;
}
.hero-content h1{
  font-size: 65px;
  color: #fff;
  margin-left: 210px;
  font-weight: 600;
}
