.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
    margin-top: 92px;
}
.shopcategory-indexsort{
    display: flex;
    margin: 0px 70px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid  #888;
}
.shopcategory-indexsort p,span{
    font-weight: 600;
    font-size:18px;
}
.shopcategory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    margin-left: -10px;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 213px;
    margin-top: 50px;
    height: 40px;
    border-radius: 75px;
    background: orangered;
    color: white;
    font-size: 18px;
    font-weight: 500;
}