.blog-container {
  margin-top: 42px;
}

.blog-container h4 {
  text-align: center;
  color: darkcyan;
  font-size: 19px;
}

.blog-container h6 {
  text-align: center;
  font-size: 30px;
  margin-top: -10px;
}

.blog-main {
  display: flex;
  gap: 30px;
  margin-left: 10px;
  margin-right: 30px;
  margin-top: -20px;
  align-items: center;
}

.blog-main .blog {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
 
}


.blog-main .blog img {
  width: 99%;
  height: 45vh;
  border-radius: 15px;
}

.blog-main .blog .blog-h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 18px;
}

.blog-main .blog .blog-info {
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 12px;
  color: #333;
}

.blog-main .blog .blog-info svg {
  color: darkcyan;
  font-size: 13px;
}

.blog-main .blog h4 {
  font-size: 14px;
}

.blog-p {
  text-align: center;
  padding: 10px 15px 25px;
}



.blog-p p {
  font-size: 13px;
  color: #666;
}
