.hero-section {
  width: 1200px;
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 80px;
  overflow: hidden;
  border-radius: 10px;
  margin-left: 60px;
  margin-top: 70px;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(0px); 
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: white;
  max-width: 1100px;
}

.hero-top-text {
  font-size: 30px;
font-weight: 400;
  margin-top: 210px;
  margin-left: 320px;
  color: #fff;
}
.hero-content h1{
  font-size: 65px;
  color: #fff;
  margin-left: 210px;
  font-weight: 600;
}
.hero-btn {
  padding: 12px 25px;
  border: none;
  background: lightseagreen;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 450px;
}

.hero-btn:hover {
  background: #ff6a00;
}
