.contact{
    margin-top: 100px;
}
.contact h1{
    font-size: 45px;
}
.contact p{
    margin-top: -20px;
    font-size: 14px;
}
.contact-main{
    margin-top: 10px;
}
.contact-main input,textarea{
  width: 55%;
  padding: 5px;
  border: none;
}
.contact-main button{
    background-color: white;
    color: black;
   margin-top: 20px;
   margin-left: -20px;
   padding-left: 40px;
   padding-right: 40px;
}

.contact-icon img{
    width: 5%;
    padding-top: 20px;
    margin: 10px;
}
.p-contact{
    margin-top: 50px;
}