.contact-section {
  width: 84%;
  margin-left: 10px;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 15px;
  border-radius: 25px;
  margin-left: 49px;
}

.contact-card {
  background: #ffffff;
  border-radius: 24px;
  padding: 50px 70px;
  max-width: 900px;
  width: 100%;
  margin-left: 120px;
}
.contact-small-title {
  text-align: center;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: #000;
}

.contact-main-title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #000;
}

.contact-divider {
  width: 40px;
  height: 3px;
  background: #18a5a8; 
  margin: 0 auto 40px auto;
}


.contact-form {
  width: 100%;
  color: #000;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 6px;
}
.form-group input,
.form-group textarea {
  border: none;
  border-bottom: 1px solid #000; 
  padding: 6px 0;
  font-size: 14px;
  outline: none;
  resize: none;
  background: #ffffff;  
  color: #000;          
  box-shadow: none;
}

.contact-btn {
  display: block;
  margin: 30px auto 0 auto;
  padding: 14px 40px;
  border-radius: 999px;
  border: none;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;

  background: #18a5a8;
  color: #fff;
}

 
