.service-header{
    padding: 70px;
 background-color: #3E6259;
 margin-top: -20px;
 font-size: 20px;

}
.service-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.service-main {
    margin-top: 30px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  background: #f9f9f9;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.service-main:hover {
  background: #dce5e2;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.service-main img {
  width: 140px;
  height: 40px;
}

.service-main h6 {
  font-size: 17px;
  color: #222;
  margin: 0;
}

.service-main p {
  color: #777;
  font-size: 12px;
  margin: 0;
  line-height: 1.4;
}

.service-container-right {
    margin-top: 60px;
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-container-right img:first-child {
  position: absolute;
  top: 40px;
  left: 10px;
  width: 150px;
  z-index: 1;
}

.service-container-right .service-main {
  width: 100%;
  max-width: 450px;
  border-radius: 15px;
  z-index: 2;
  margin-left: 70px;
  margin-top: 110px;
}
.services-drop-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9f8;
  padding: 80px 90px;
  flex-wrap: wrap;
}

.services-drop-text {
  flex: 1;
  max-width: 200px;
  margin-left: -30px;
}

.services-drop-text h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #222;
}

.services-drop-text p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 24px;
  font-size: 12px;
}

.services-drop-text button {
  background-color: #444;
  color: #fff;
  font-weight: 700;
  border: none;
  padding: 10px 28px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.services-drop-text button:hover {
  background-color: #444;
}


.services-drop-main {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 80px;
 
}

.services-drop-card {
  text-align: center;
  margin-right: -52px;
}
.services-drop-card:hover {
  background-color: #dce5e2;
 border-radius: 20%;
   transform: translateY(-5px);
}

.services-drop-card img {
  width: 220px;
  height: auto;
  padding: 5px;
  transition: transform 0.3s ease;
}

.services-drop-card img:hover {
  transform: translateY(-10px);
}

.services-drop-card h4 {
  margin-top: 15px;
  font-size: 19px;
  color: #222;
  font-weight: 700;
}

.services-drop-card p {
  font-weight: bold;
  color: #000;
  font-size: 19px;
  margin-top: -14px;
  font-weight: 500;
}




