
.recent-container {
  padding: 80px 100px;
  background-color: #f5f7f6;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: -60px;
}
.recent-container h2 {
  font-size: 26px;
  font-weight: 600;
  color: #444;
  margin-bottom: 40px;
  margin-left: -720px;
}

.recent-text {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 80px;
 margin-left: -30px;
 margin-top: -20px;
}

.blog-card {
  border-radius: 15px;
}

.blog-card:hover {
 opacity: 0.5;
}


.blog-img {
  width: 120%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.blog-text {
  font-size: 15px;
  color: #444;
  line-height: 1.5;
  text-align: left;
  margin-top: -10px;
}

