.auth-container {
  width: 100%;
  height: 100vh;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background: #fff;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 20px;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: #fff;
  border: none;
  font-size: 17px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
}

.auth-btn:hover {
  background: #0056b3;
}

.switch-text {
  margin-top: 15px;
}

.switch-text a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}
