.newsletter{
    
    margin-top: 80px;
    background: linear-gradient(180deg,#fde1ff 0%, #e1ffea22 90%);
    gap: 30px;
}
.newsletter h1{
    color:orangered;
    font-size: 30px;
    font-weight: 600;
    padding-top: 20px;
}
.newsletter p{
    color: #454545;
    font-size: 15px;
    margin-top: 10px;
}
.newsletter input{
    width: 500px;
    margin-top: 20px;
    margin-left: 30px;
    border: 1px solid #616161;
    outline: none;
    color: #616161;
    font-size: 15px;
    border-radius: 5px;
}
.newsletter div button{
    width: 190px;
    height: 30px;
    border-radius: 80px;
    background: #454545;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 12px;
}