.footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.footer-logo{
    display: flex;
    margin-left: 300px;
    align-items: center;
    gap: 20px;
}
.footer-logo img{
    width: 10%;
}
.footer-logo p{
 color: #383838;
 font-size: 20px;
 font-weight: 700;
}
.footer-links{
    display: flex;
    margin-top: -30px;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}
.footer-links li{
    cursor: pointer;
    color: orangered;
}
.footer-social-icon{
    display: flex;
    gap: 20px;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}
