.banner-container {
  position: relative;
  width: 90%;
  height: 150px; 
  overflow: hidden;
  margin-left: 38px;
  margin-top: 40px;
}

.banner-image img {
  width: 100%;
  height: 100%; 
}

.banner-main {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  color:darkcyan;
  text-align: center;
  margin-left: 30px;
}

.banner-text img{
    margin-top: 10px;
    width: 50%;
    height: 10vh;
}

.banner-text h1 {
  font-size: 40px;
  margin: 0;
}

.banner-text h6 {
  font-size: 12px;
  margin-top: 5px;
  letter-spacing: 1px;
}
