.footer {
  background-color:white;
  color:#444;
  padding: 80px 90px;
  font-family: 'Poppins', sans-serif;
  position: relative;
 
}


.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -30px;
  gap: 40px;
}

.newsletter {
  flex: 1 1 250px;
}

.newsletter p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.newsletter-inputs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.newsletter-inputs input {
  padding: 8px 10px;
  border: 1px solid #444;
  border-radius: 4px;
  flex: 1;
  background-color: #fff;
}

.newsletter-inputs button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  background-color: goldenrod;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

.newsletter-inputs button:hover {
  background-color: goldenrod;
}

.footer-links {
  display: flex;
  flex: 2 1 500px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links div h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.footer-links div ul {
  list-style: none;
  padding: 0;
}

.footer-links div ul li {
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-links div ul li:hover {
  color:goldenrod;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  justify-content: center;
}

.social-icons svg {
  font-size: 20px;
  color: #444;
  cursor: pointer;
  transition: color 0.3s;
}

.social-icons svg:hover {
  color: goldenrod;
}

.footer-bottom {
  border-top: 1px solid #444;
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
  align-items: center;
}

.footer-bottom span {
  margin-left: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-bottom span:hover {
  color: goldenrod;
}
