.about-container{
    margin-top: 120px;
}
.about-container h1{
    font-size: 45px;
}
.about-container p{
    text-align: justify;
    line-height: 1.6; 
    max-width: 600px; 
    margin: 0 auto; 

}
.about-main{
    display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
   margin-top: 40px;
   margin-left: 110px;
   margin-right: 90px;
   background-color: #3b3b3b;
}


.about-main img{
    max-width: 6%;
    margin-left: -30px;
}
.p-main p{
    margin-top: -30px;
    font-weight: 300;
}


