.hero-section {
  width: 1200px;
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 80px;
  overflow: hidden;
  border-radius: 10px;
  margin-left: 60px;
  margin-top: 70px;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(0px); 
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: white;
  max-width: 1100px;
}

.service-top-text {
  font-size: 30px;
font-weight: 200;
  margin-top: 160px;
  margin-left: 500px;
  color: #fff;
}
.service-title{
    margin-left: 30px;
    margin-top: -40px;
    font-size: 45px;
}
.hero-content h1{
  font-size: 65px;
  color: #fff;
  margin-left: 210px;
  font-weight: 600;
}

.servicestory-section {
  width: 100%;
  padding: 40px 0;
  margin-top: 50px;
  background: #faf5ef; 
}
.servicestory-content {
  width: 90%;          
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;            
}

.servicestory-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  background: #ffffff;
  border-radius: 16px;
  padding: 40px 50px;
}


.servicestory-card.reverse {
  flex-direction: row-reverse;
}

.servicestory-card-image-wrap {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px; 
}

.servicestory-card-image {
  width: 100%;       
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

.servicestory-card-text {
  flex: 0 0 40%;
  max-width: 420px;

}
.servicestory-number {
  display: block;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #8aa1b3;
  margin-bottom: 4px;
}

.servicestory-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #222;
}

.servicestory-card-text hr {
  margin: 10px 0 15px 0;    
  border: none;             
  height: 2px;
  background: lightseagreen;    
  width: 60px;              
  border-radius: 999px;      
}

.servicestory-description {
  font-size: 18px;
  line-height: 1.7;
  color: #666;
}

