.testimonial-section {
  margin-top: 90px;     
  padding: 60px 20px;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

.testimonial-wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  border-radius: 24px;
  padding: 60px 50px;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 40px;
  margin-left: 75px;
}

.testimonial-left {
  display: flex;
  flex-direction: column;
}

.big-quote {
  font-size: 56px;
  color: #14b4aa; 
  margin-bottom: 10px;
}

.testi-heading {
  font-size: 46px;
  line-height: 1.1;
  font-weight: 700;
  color: #111;
  margin: 0;
}

.testi-line {
  width: 60px;
  height: 2px;
  background: #b3e5df;
  margin: 24px 0;
}

.testi-desc {
  color: #666;
  font-size: 15px;
  line-height: 1.6;
  max-width: 420px;
}

.testi-btn {
  margin-top: 30px;
  padding: 12px 28px;
  border-radius: 999px;
  border: none;
  background: #14b4aa;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
}

.testi-btn:hover {
  opacity: 0.9;
}
.testimonial-right {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.testi-card {
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #f0f0f0;
  padding: 26px 26px 22px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.03);
}

.testi-stars-text {
  display: flex;
  gap: 14px;
  align-items: flex-start;

}

.stars span {
  color: #f7b500;
  font-size: 16px;
}

.testi-text {
  margin: 0;
  color: #444;
  font-size: 16px;
  line-height: 1.6;
  font-style: italic;
}

.testi-name {
  margin-top: 18px;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #14b4aa;
  font-weight: 600;
}

