* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: white;
  padding: 10px 40px;   
  width: 100%;         
  position: fixed;     
  top: 0;
  left: 0;
  z-index: 1000;     
  box-shadow: 0px 1px 1px 1px #000;
}



.navbar img {
  width: 60px;  
  height: auto;
}
.navbar p{
    color: black;
    margin-left: -180px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 30px;

}

.nav-menu li {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  
    
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-login-cart button {
  padding: 6px 14px;
  border: none;
  background-color:orangered;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
